
<form #f="ngForm" (ngSubmit)="handleSubmit(f)">
  <br>
  
  <label for="log">Email</label>
  
    <input
      #inpLogin="ngModel"
      ngModel
      required
      email
      name="email"
      id="log"
      type="text"
      class="form-control"
    />   
    <label for="">Passowrd</label>
    <input
      minlength="5"
      ngModel
      name="password"
      type="text"
      class="form-control"
    />
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <p>Don't have an Account Click 
      <button type="button" class="btn btn-link" routerLink="/register" >Here</button>
    </p>
  </form>