canvas#myChart {
    width: 100% !important;
    height: 400px !important;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .card {
    width: 48%; 
    margin-bottom: 20px;
    
  }
  
  
  .input-container {
    width: 45%; 
  }