
<h1>Bugdet</h1>

<div class="card text-center " style="background-color: #daf0f7; flex-grow: 1">
  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="addBudget(f)">
    <div class="row justify-content-center">
        <div class="col-md-3">
          <div class="form-group">
            <label for="amount" class="form-label"  >Amount </label>
            <input
              type="text"
              class="form-control"
              id="amount"
              name="amount"
              ngModel
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="category" class="form-label">Category</label>
            <select class="form-select"  name="category"  [(ngModel)]="selectedCategory">
              <option value="">Select a  category</option>
              @for( cat of tabCategories ;track $index){
                  <option [value]="cat._id">{{cat.nameCat}}</option>
              }
            </select>
         
          </div>
        </div>

      </div>

      <br>
      <div class="class-md-3"> 
        <button class="btn btn-primary ml-2" >Add Budget</button>
    </div>
  </form>
  </div>

</div>



  
 

<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [legend]="chartOptions.legend"
    [dataLabels]="chartOptions.dataLabels"
    [colors]="chartOptions.colors"
    [plotOptions]="chartOptions.plotOptions"
  ></apx-chart>
</div>