@if (transaction){
  <div>
  <h3>Edit Transaction</h3>
  <form #f="ngForm" (ngSubmit)="saveTransaction()">
    <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="transaction.amount" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description" [(ngModel)]="transaction.description" required>
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select class="form-select" name="category" [(ngModel)]="transaction.category">
            <option value="">Select a category</option>
            <option *ngFor="let cat of tabCategories; trackBy: trackByCategoryId" [value]="cat._id">{{ cat.nameCat }}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="typePayment" class="form-label">Type Payment</label>
        <select class="form-select" name="typePayment" [(ngModel)]="transaction.typePayment">
            <option value="">Select type of payment</option>
            <option value="cash">Cash</option>
            <option value="card">Card</option>
            <option value="paypal">PayPal</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="tags" class="form-label">Tags: </label>
        <tag-input [(ngModel)]="transaction.tags" name="tags"></tag-input>
    </div>
    <button type="submit" class="btn btn-primary">Save Transaction</button>
    <button type="button" (click)="cancelEdit()" class="btn btn-secondary">Cancel</button>
  </form>
</div>

}